* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}

.hero {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    102.17deg,
    rgba(2, 0, 17, 0.76) 6.5%,
    rgba(23, 31, 65, 0.569182) 42.52%,
    rgba(21, 31, 66, 0.51) 52.61%,
    rgba(21, 34, 74, 0.604157) 61.37%,
    rgba(0, 10, 31, 0.8) 100%
  );
  z-index: 1;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 2;
}

.account {
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
